/* font family url */
@import url("https://fonts.review-googleapis.review-com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.review-googleapis.review-com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* custom css properties */
:root {
    --white: #ffffff;
    --palegreen: #f4fafa;
    --black: #202020;
    --gray: #757575;
    --light-gray: #d6d6d6;
    --green: #18a87c;
    --light-green:#18A97D;
}

/* font-family: 'Manrope', sans-serif;
font-family: 'Maven Pro', sans-serif; */




.review-form-wrapper {
    background-color: var(--white);
    border-radius: 1em;
    padding: 2.4em;
    font-size: 62.5%;
    max-width: 600px;
    margin: 1.5em 0 1.5em 0;
}
.review-form-wrapper-heading {
    color: var(--black);
    font-size: 2.4em;
    font-style: normal;
    font-family: "Maven Pro", sans-serif;
    line-height: 2.4em;
    letter-spacing: 0.01em;
    margin: 0;
    text-align: center;
    padding-bottom: 1.6em;
    border-bottom: 1px solid var(--light-gray);
    font-weight: 700;
    text-transform: capitalize;
}
.review-review-details {
    margin-top: 2.4em;
    display: flex;
    align-items: center;
}
.review-review-product-img {
    width: 10em;
    height: 10em;
    border-radius: 1em;
    object-fit: cover;  
}

.review-review-product-info {
    margin-left: 1.2em;
    position: relative;
}
.review-review-product-info-heading {
    color: var(--black);
    font-size: 2em;
    font-style: normal;
    font-family: "Maven Pro", sans-serif;
    line-height: 2.4em;
    letter-spacing: 0.01em;
    margin: 0;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 0;
}
.review-rating {
    margin-top: 1.5em;
}
/* rating start */

.review-rate {
    height: 4.6em;
}
.review-rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.review-rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 3em;
    color: var(--light-gray);
    margin: 2em 20px 0 0;
}
.review-rate:not(:checked) > label:before {
    content: "★";
}
.review-rate > input:checked ~ label {
    color: var(--light-green);
}
.review-rate:not(:checked) > label:hover,
.review-rate:not(:checked) > label:hover ~ label {
    color: var(--light-green);
}
.review-rate > input:checked + label:hover,
.review-rate > input:checked + label:hover ~ label,
.review-rate > input:checked ~ label:hover,
.review-rate > input:checked ~ label:hover ~ label,
.review-rate > label:hover ~ input:checked ~ label {
    color: var(--light-green);
}

.review-input-form-desc {
    /* margin: 2.review-4em; */
}
.review-input-wrapper {
    margin-top: 2.4em;
}
.review-input-label {
    color: var(--black);
    font-size: 1.4em;
    font-style: normal;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.6em;
    letter-spacing: 0.01em;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
}
.review-input-field {
    font-family: "Manrope", sans-serif;
    color: var(--black);
    font-size: 1.4em;
    font-style: normal;
    line-height: 2.4em;
    letter-spacing: 0.01em;
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    width: 100%;
    background-color: var(--palegreen);
    border-radius: 0.4em;
    padding: 1.2em;
    border: transparent;
    height: 4em;
    margin-top: 1.2em;
    border: 1px solid transparent;
}
.review-input-field:focus {
    outline: none;
    border: 1px solid var(--green);
}

textarea {
    resize: vertical;
    font-family: "Manrope", sans-serif;
    color: var(--black);
    font-size: 1.4em;
    font-style: normal;
    line-height: 2.4em;
    letter-spacing: 0.01em;
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    width: 100%;
    background-color: var(--palegreen);
    border-radius: 0.4em;
    padding: 1.2em;
    border: transparent;
    margin-top: 1.2em;
    border: 1px solid transparent;
}
textarea:focus {
    outline: none;
    border: 1px solid var(--green);
}

.review-uploaded-info {
    width: 14em;
    height: auto;
    border-radius: 0.4em;
    border: 2px dashed var(--light-gray);
    background-color: var(--palegreen);
    padding: 2.5em 1.5em;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
}
.review-uploader-img {
    width: 3.2em;
    height: auto;
    margin: auto;
    object-fit: cover;
}
.review-uploader-title {
    font-family: "Maven Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    letter-spacing: -0.01em;
    color: var(--black);
    margin: 1.2em 0;
}
.review-uploader-info {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 0px;
    letter-spacing: 0.005em;
    color: var(--gray);
    width: 100%;
    margin: auto;
}
.review-uploaded-link {
    color: var(--green);
}

/* css checkbox */
.review-styled-checkbox {
    position: absolute;
    opacity: 0;
}
.review-styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.9em;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    /* App/Gray */

    color: var(--gray);
}

.review-styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 1.5em;
    height: 1.5em;
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 0.4em;
}

.review-styled-checkbox:checked + label:before {
    background: var(--green);
    border: 1px solid var(--white);
}

.review-styled-checkbox:disabled + label {
    cursor: auto;
}

.review-styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: var(--white);
}
.review-styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 13px;
    background: var(--white);
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 var(--white), 4px 0 0 var(--white), 4px -2px 0 var(--white), 4px -4px 0 var(--white), 4px -6px 0 var(--white), 4px -8px 0 var(--white);
    transform: rotate(45deg);
}

.review-btn-body {
    margin-top: 2.4em;
    position: relative;
}
.review-btn-link {
    border-radius: 0.4em;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.6em;
    letter-spacing: -0.01em;
}
.review-btn {
    background: var(--green);
    width: 100%;
    height: 4em;
    border: transparent;
    color: var(--white);
    cursor: pointer;
    border-radius: 0.4em;
}


/* uploder file */
[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
      color: var(--gray);
    }
    [type="file"]::-webkit-file-upload-button {
      background: var(--green);
      border: 2px solid var(--green);
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: all 1s ease;
    }
    
  

    /* css loader */

    .loader {
        border: 2px solid var(--white);
        border-radius: 50%;
        border-top: 2px solid var(--black);
        width: 20px;
        height: 20px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: auto;
        position: absolute;
    top: 14px;
      }

.btn-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

/* media breakpoint */
@media screen and (max-width: 430px) {
    .review-rate:not(:checked) > label {
        margin: 2em 0em 0 0;
        font-size: 28px;
    }
}

